---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Learn more about the HealthInno Project",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About HealthInno</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			HealthInno is a community-focused initiative committed to improving health education and equity for Latine youth. We use technology, AI, and gamified learning to create an engaging, culturally relevant platform where young people can explore important health topics with confidence.
		</p>

		<p><strong>Program Mission:</strong></p>
		<ul class="list-inside list-disc" role="list">
			<li>
				Empower Latine youth by delivering accessible, accurate, and culturally meaningful health information through interactive tools and games.
			</li>
		</ul>
	</div>
</PageLayout>
