---
import PageLayout from "@/layouts/Base.astro";

const meta = {
	description: "Learn more about the CIELO-G Project",
	title: "About",
};
---

<PageLayout meta={meta}>
	<h1 class="title mb-6">About CIELO-G</h1>
	<div class="prose prose-sm prose-cactus max-w-none">
		<p>
			CIELO-G is a community-driven initiative committed to making geoscience more inclusive and accessible. We connect learners of all backgrounds with opportunities in Earth science through education, outreach, and collaboration.
		</p>
		<p><strong>Program Mission:</strong></p>
		<ul class="list-inside list-disc" role="list">
			<li>
			Engage the local community and inspire future geoscientists through inclusive STEM education.
			</li>
		</ul>
		<p><strong>Team:</strong></p>
		<ul class="list-inside list-disc" role="list">
			<li><strong>Maintainer & Developer:</strong> Gabriel Alonso </li>
			<li><strong>Program ​Director:</strong> Dr. Sandra Hardy </li>
			<li><strong>Principal Investigator:</strong> Dr. Aaron Velasco </li>
			<li><strong>Post-Doc:</strong> Dr. Katalina Salas </li>
		</ul>
		<p>
			🔗 <strong>Learn more:</strong> 
			<a class="cactus-link inline-block" href="https://www.cielog.org/" target="_blank" rel="noopener noreferrer">https://www.cielog.org/</a>
		</p>
	</div>
</PageLayout>
